.page-section {
    padding: 2.8rem 0;

    @mixin atMedium {
        padding: 7.2rem 0;
    }

    &--primary {
        color: $color-white;
        background-color: $color-primary;
    }

    &--testimonials {
        background-color: #e0e6ef;

        @mixin atMediumMore {
            background: url(assets/images/testimonials-bg.jpg) top center no-repeat;
            background-size: cover;            
        }
    }
}