
.row {
    display: flex;
    flex-wrap: wrap;

    &--gutters > div {
        padding-left: 6.5rem;
    }

    &--gutters {
        margin-left: -6.5rem;   /* wrapper overflow-x: hidden; */
    }

    @mixin atLarge {
        &--gutters-large > div {
            padding-left: 10rem;
        }
    
        &--gutters-large {
            margin-left: -10rem;   /* wrapper overflow-x: hidden; */
        }
    }
    
    @mixin atMediumMore {
        &--gutters-small > div {
            padding-left: 4.5rem;
        }
    
        &--gutters-small {
            margin-left: -4.5rem;   /* wrapper overflow-x: hidden; */
        }        
    }

    @mixin atMedium {
        &__medium-4-larger {
            flex-basis: 37%;
        }
    
        &__medium-8 {
            flex-basis: 66.66%;
        }
    
        &__medium-8-smaller {
            flex-basis: 63%;
        }

        &__medium-6 {
            flex-basis: 50%;
        }
    }

    @mixin atMediumMore {
        &__mediumMore-4 {
            flex-basis: 33.33%;
        }
    }

    &__mb-until-medium {
        margin-bottom: 1.5rem;

        @mixin atSmall {
            margin-bottom: 4.5rem;
        }

        @mixin atMedium {
            margin-bottom: 0;
        }
    }

    &__mb-until-mediumMore {
        margin-bottom: 12.5rem;

        @mixin atSmall {
            margin-bottom: 12.5rem;
        }

        @mixin atMediumMore {
            margin-bottom: 0;
        }
    }

}