
.large-hero {
    position: relative;
    border-bottom: .8rem solid $color-primary;
    
    &__image {
        display: block;
    }
    
    &__text-content {
        position: absolute;
        padding-top: 6rem;  /* for navbar */
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        text-align: center;
    }

    &__title {
        font-size: 4rem;
        font-weight: 300;
        color: $color-primary;
        margin: 0;
        margin-bottom: 1rem;

        @mixin atMedium {
            font-size: 5rem;
        }

        @mixin atLarge {
            font-size: 6rem;
        }
    }

    &__subtitle {
        font-size: 3rem;
        font-weight: 300;
        color: $color-primary;
        margin: 0;
        margin-bottom: 3rem;

        @mixin atMedium {
            font-size: 3.5rem;
        }

        @mixin atLarge {
            font-size: 4rem;
        }
    }

    &__description {
        max-width: 40rem;
        margin: 0 auto 3rem;
        font-size: 1.9rem;
        color: $color-white;
        text-shadow: 2px 2px 0 rgba(0,0,0, .2);

        @mixin atSmall {
            font-size: 2rem;
        }

        @mixin atMedium {
            font-size: 2.2rem;
        }
    }
}


